#include "afxres.h"
#include "OverwriteDlg-rc.h"

IDD_OVRDLG DIALOGEX 0, 0, 311, 64
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "OverwriteDlg"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "&Нет",IDC_OVRNO,163,43,50,14
    PUSHBUTTON      "&Пропускать",IDC_OVRNONE,229,43,50,14
    PUSHBUTTON      "&Да",IDC_OVRYES,97,43,50,14
    PUSHBUTTON      "&Все",IDC_OVRALL,31,43,50,14
    CTEXT           "Entity",IDC_OVRENTITY,7,7,297,8
    CTEXT           "",IDC_OVRDETAIL,7,19,297,8,SS_ENDELLIPSIS
    CTEXT           "существует. Перезаписать?",IDC_OVRPROMPT,7,31,297,8
END

IDR_OVRACCELERATORS ACCELERATORS
BEGIN
    VK_INSERT,      ID_OVRACCELERATOR_CTRLINS, VIRTKEY, CONTROL, NOINVERT
    "C",            ID_OVRACCELERATOR_CTRLC,   VIRTKEY, CONTROL, NOINVERT
    "Y",            ID_OVRACCELERATOR_Y,    VIRTKEY,  NOINVERT
    1076,           ID_OVRACCELERATOR_YR,   ASCII,  NOINVERT
    "N",            ID_OVRACCELERATOR_N,    VIRTKEY,  NOINVERT
    1085,           ID_OVRACCELERATOR_NR,   ASCII,  NOINVERT
    "A",            ID_OVRACCELERATOR_A,    VIRTKEY,  NOINVERT
    1074,           ID_OVRACCELERATOR_AR,   ASCII,  NOINVERT
    "S",            ID_OVRACCELERATOR_S,    VIRTKEY,  NOINVERT
    1087,           ID_OVRACCELERATOR_SR,   ASCII,  NOINVERT
END
